<div>
  @let isHaveTodo = todoService.read().length > 0;
  <p>Todos</p>
  <div class="input-container">
    @if (isHaveTodo) {
      <div>
        <input
          #switched
          type="checkbox"
          (click)="todoService.switchStatusAllTasks(switched.checked)"
          class="toggle-all"
          id="toggle-all" />
        >
        <label for="toggle-all" class="toggle-all-label"></label>
      </div>
    }
    <input
      [formControl]="formInput"
      (keydown.enter)="createNewTask()"
      placeholder="What needs to be done?"
      class="new-todo ng-valid ng-touched ng-dirty"
    />
  </div>
  @for (todo of todoService.filteredTodoList(); track todo.id) {
    <app-item [todo]="todo"/>
  }
  @if (isHaveTodo) {
    <app-filter/>
  }
</div>

